menu "ZMK Device Detector"

config ZMK_DEVICE_DETECTOR
	bool "Enable Device Detector"
	default n
	help
	  Enable the ZMK Device Detector module.

config ZMK_DEVICE_DETECTOR_LOG_LEVEL
	int "Device Detector Log Level"
	default 3
	range 0 4
	help
	  Log level for Device Detector module (0=OFF, 1=ERROR, 2=WRN, 3=INF, 4=DBG)

config ZMK_DEVICE_DETECTOR_HAS_TRACKBALL
	bool "Enable trackball detection support"
	depends on ZMK_DEVICE_DETECTOR
	default n
	select PMW3610
	help
	  This option enables trackball detection and handling.
	  
config PMW3610
	bool "PMW3610 optical sensor"
	depends on ZMK_DEVICE_DETECTOR_HAS_TRACKBALL
	depends on SPI
	depends on INPUT
	default n
	help
	  Enable driver for PMW3610 optical sensor for trackball implementation.

config PMW3610_LOG_LEVEL
	int "PMW3610 Log Level"
	depends on PMW3610
	default 3
	range 0 4
	help
	  Log level for PMW3610 module (0=OFF, 1=ERROR, 2=WRN, 3=INF, 4=DBG)

config PMW3610_INIT_POWER_UP_EXTRA_DELAY_MS
	int "Additional delay (ms) for PMW3610 power-up reset step"
	depends on PMW3610
	default 0
	range 0 1000
	help
	  Add extra delay for PMW3610 power-up reset to ensure sensor
	  properly initializes in difficult environments.

endmenu